.header-style {
    background-color: black;
    position: relative;
    height: 50px;
    width: 100%;
    color: white;
}

.header-logo {
    margin: 0;
    width: auto;
    height: auto;
    max-height: 40%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10%;
}

.header-logo-small {
    margin: 0;
    width: auto;
    height: auto;
    max-height: 40%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 3%;
}

.header-navigation {
    position: relative;
    left: 20%;
    z-index: 100;
    width: 100%;
}

.header-navigation-small {
    position: relative;
    left: 2%;
    z-index: 100;
    width: 100%;
}

/*
Override bootstrap dropdown attributes
*/
.dropdown-toggle::after {
    content: none !important;
    background-color: black !important;
}

.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-item:hover {
    background-color: black !important;
}

.header-dropdown-toggle {
    background-color: black !important;
    border-color: black !important;
    font-size: 1.2em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-dropdown-container {
    margin-left: 4% !important;
}


.header-separator {
    padding-left: 4%;
    margin-top: 17px !important;
    text-align: center;
}

.header-count {
    padding-left: 1%;
    margin-top: 17px !important;
    text-align: center;
}

.header-cart {
    background-color: black !important;
    border-color: black !important;
    margin-left: 10px;
}

.header-cart-image {
    width: 25px;
    height: 25px;
}

.header-dropdown-home {
    background-color: black !important;
    border-color: black !important;
    font-size: 1.2em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-dropdown-home:focus {
    outline: none !important;
    box-shadow: none !important;
}

.header-dropdown-menu {
    background-color: #3d3d3d !important;
    border-radius: 0 !important;
    padding: 0 !important;
    background-clip: border-box !important;
}

.header-dropdown-item {
    color: white !important;
    text-align: center !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}