.home-main {
    position: relative;
    color: white;
    background-color: #5b80b2;
    -ms-transform: translateY(50%);
}

.home-featured {
    background-color: white;
    width: 100%;
    text-align: center;
}

.home-featured-title {
    font-size: 30px;
    padding-top: 50px;
}

/*
Override carousel default settings
 */
.carousel {
    height: 500px !important;
}