<!DOCTYPE html>
<html lang="en">
    <style>
        .branding {
            width: 300px;
        }
    </style>

    <head>
        <meta charset="UTF-8">
        <title>Your ERNOID order</title>
        <meta http–equiv=“Content-Type” content=“text/html; charset=UTF-8” />
        <meta http–equiv=“X-UA-Compatible” content=“IE=edge” />
        <meta name=“viewport” content=“width=device-width, initial-scale=1.0 “ />
    </head>

    <body>
        <div>
            <h3>Thanks HTML!</h3>
{#            <img class="branding" src="cid:{{ image }}" alt="No Image Found"/>#}
            <p>cid:{{ image }}</p>
        </div>
    </body>

</html>
